gradio
ollama
loguru
sentence-transformers
torch
torchvision
torchaudio
tqdm
unstructured[local-inference]
unstructured[pdf]
weaviate-client==4.5.5
opencv-python-headless
pdf2image
pytesseract
python-dotenv
pypdf
nltk
spacy